* {
    overflow: auto;
}

body, html {
    background-color: rgb(194, 181, 168);
}

header {
    background-color: transparent !important;
    margin-top: 4%;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 7vw;
}

h3 {
    position: relative;
    text-align: center;
}

@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('../font/PlayfairDisplay-Italic.ttf');
    padding-left: -20%;
    padding-right: -20%;
}

p {
    font-family: 'PlayfairDisplay-Italic';
    font-size: 2.5em;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 1.5;
}

.part_exhibitions {
    display: flex;
    flex-direction: column;
}

img {
    max-height: 100vh;
    width: auto;
}

.title-img {
    margin: 3% 12%;
}

.row {
    display: flex;
    height: 110vh;
    margin: 3% 12%;
}

.row .col1, .row .col2 {
    flex: 50%;
    padding: 0;
}

.row .col2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row .col1 img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.row .col2 img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.whole-row {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.whole-row img {
    width: 100%;
    height: 120%;
    object-fit: cover;
    object-position: center;
}


/*!
 *
 * bttn.css - https://ganapativs.github.io/bttn.css
 * Version - 0.2.4
 * Demo: https://bttn.surge.sh
 *
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Ganapati V S (@ganapativs)
 *
 */
/* standalone - .bttn-stretch */
.buttons .bttn-default {
    color: #fff;
}
.buttons,
.bttn-primary,
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
    color: #1d89ff;
}
.buttons .bttn-warning {
    color: #feab3a;
}
.buttons .bttn-danger {
    color: #ff5964;
}
.buttons .bttn-success {
    color: #28b78d;
}
.buttons .bttn-royal {
    color: #bd2df5;
}
.buttons,
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    background: transparent;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}
.buttons .bttn-lg {
    padding: 8px 15px;
    font-size: 24px;
    font-family: inherit;
}
.buttons .bttn-md {
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
}
.buttons .bttn-sm {
    padding: 4px 10px;
    font-size: 16px;
    font-family: inherit;
}
.buttons .bttn-xs {
    padding: 3px 8px;
    font-size: 12px;
    font-family: inherit;
}
.buttons .bttn-stretch {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    background: transparent;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
    overflow: hidden;
    border-width: 0;
    border-radius: 0;
    background: transparent;
    color: #fff;
    letter-spacing: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.buttons .bttn-stretch:after,
.buttons .bttn-stretch:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    content: '';
    opacity: 0.65;
    -webkit-transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
}
.buttons .bttn-stretch:after {
    top: 0;
}
.buttons .bttn-stretch:before {
    bottom: 0;
}
.buttons .bttn-stretch:hover,
.buttons .bttn-stretch:focus {
    letter-spacing: 2px;
    opacity: 0.9;
    -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.buttons .bttn-stretch:hover:after,
.buttons .bttn-stretch:focus:after {
    opacity: 1;
    -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
}
.buttons .bttn-stretch:hover:before,
.buttons .bttn-stretch:focus:before {
    opacity: 1;
    -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
}
.buttons .bttn-stretch.bttn-xs {
    padding: 3px 8px;
    font-size: 12px;
    font-family: inherit;
}
.buttons .bttn-stretch.bttn-sm {
    padding: 4px 10px;
    font-size: 16px;
    font-family: inherit;
}
.buttons .bttn-stretch.bttn-md {
    font-size: 2vw;
    font-family: inherit;
    padding: 5px 12px;
}
.buttons .bttn-stretch.bttn-lg {
    padding: 8px 15px;
    font-size: 24px;
    font-family: inherit;
}
.buttons .bttn-stretch.bttn-default {
    color: #fff;
}
.buttons .bttn-stretch.bttn-primary {
    color: black;
}
.buttons .bttn-stretch.bttn-warning {
    color: #feab3a;
}
.buttons .bttn-stretch.bttn-danger {
    color: #ff5964;
}
.buttons .bttn-stretch.bttn-success {
    color: #28b78d;
}
.buttons .bttn-stretch.bttn-royal {
    color: #bd2df5;
}

.buttons .fixed-button1 {
    position: fixed;
    left: -4%;
    top: 75%;
    transform: translateY(-50%) rotate(-90deg);
    color: black;
}

.buttons .fixed-button2 {
    position: fixed;
    right: -2.3%;
    top: 75%;
    transform: translateY(-50%) rotate(90deg);
    color: black;
}

.footer {
    overflow: hidden;
}

.footer-p {
    font-size: 1em;
    text-align: center;
    margin-left: auto;
}

@media (max-width: 600px) {
    h1 {
        margin-top: 28%;
        text-align: center;
        font-size: 10vw;
    }
    h3 {
        font-size: 5vw;
    }
    p {
        font-size: 1em;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
    }
    .part_exhibitions {
        flex-direction: column;
    }
    img {
        max-height: 80vh;
    }
    .title-img {
        margin: 5% 5%;
    }
    .row {
        flex-direction: column;
        height: auto;
        margin: 15% 5%;
    }
    .row .col1, .row .col2 {
        width: 100%;
    } 
    .row .col1 img, .row .col2 img {
        width: 100%;
        height: auto;
    }
    .whole-row {
        margin-top: -35%;
        margin-bottom: -35%;
        height: 80vh;
    }
    .whole-row img {
        width: 100%;
        height: auto;
    }
    .buttons .bttn-stretch.bttn-xs,
    .buttons .bttn-stretch.bttn-sm,
    .buttons .bttn-stretch.bttn-md,
    .buttons .bttn-stretch.bttn-lg {
        font-size: 5vw;
    }
    .buttons .fixed-button1 {
        top: 88%;
        left: -16%;
    }
    .buttons .fixed-button2 {
        top: 88%;
        right: -16%;
    }
}