
@font-face {
    font-family: 'AestheticRegular';
    src: url('../font/AestheticRegular.otf');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body.index {
    overflow: hidden;
}

* {
    font-family: 'AestheticRegular';
    cursor: none !important;
}

#custom-cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 100000;
    transition: width 0.3s, height 0.3s;
    background-color: rgba(80, 124, 139, 0.6);
}

#custom-cursor.hover {
    width: 40px;
    height: 40px;
}

#custom-cursor.explode {
    animation: explode 1s forwards;
}

@keyframes explode {
    50%{
        transform: translate(-50%, -50%) scale(2);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }
}

.logo {
    position: fixed;
    top: 2%;
    left: 2%;
    z-index: 1000;
}

.logo img {
    width: 8vw;
    height: auto;
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(172, 145, 95);
    z-index: 1000;
    /*display: none;*/
    transition: clip-path 0.3s ease-in-out;
}

.inactive {
    clip-path: circle(0% at 100% 0);
}

.active {
    clip-path: circle(75%);
}

#menu a.logo {
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 1001;
}

.menu-toggle {
    position: fixed;
    top: 6%;
    right: -1%;
    cursor: pointer;
    font-size: 2vw;
    z-index: 1000;
}

.close-menu {
    position: absolute;
    top: 6%;
    right:-1%;
    cursor: pointer;
    font-size: 2vw;
    display: none;
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
}

.menu-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
}

.menu-items li {
    margin-bottom: 20px;
}

.menu-items a {
    font-size: 5vw;
    color: white;
    text-decoration: none;
    display: block;
    transition: transform 0.3s ease;
}

.menu-items a:hover {
    transform: scale(0.9);
}

.button-wrapper {
    position: absolute;
    top: 20%;
    right: 4%;
    z-index: 999;
}

.button-wrapper2 {
    position: absolute;
    top: 28%;
    right: 4%;
    z-index: 999;
}


.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20, 0.7);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}

.button.logged-in {
    background-color: rgb(70, 168, 70, 0.7);
}

.svgIcon {
    width: 12px;
    transition-duration: .3s;
}

.svgIcon path {
    fill: white;
}


.button.logged-in::before {
    content: "Ver Perfil";
}

.button.logged-in:hover {
    background-color: rgb(70, 168, 70);
}

.button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(141, 137, 137);
    align-items: center;
}

.button1.logged-in:hover {
    background-color: rgb(70, 168, 70);
}

.button:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
}

.button1::before {
    position: absolute;
    top: -20px;
    content: "Iniciar Sesión";
    color: black;
    transition-duration: .3s;
    font-size: 2px;
}

.button2::before {
    position: absolute;
    top: -20px;
    content: "Ver Carrito";
    color: black;
    transition-duration: .3s;
    font-size: 2px;
}

.button:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}


/*.no-scroll {
    overflow: hidden;
}*/

.footer p {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer .footer-link {
    color: black;
    text-decoration: none;
    margin: 0 15px;
}

@media (max-width: 600px) {
    .logo img {
        width: 20vw;
    }
    .menu-toggle, .close-menu {
        font-size: 8vw;
        top: 3%;
        right: -19%;
    }
    .menu-items{
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%;
    }
    .menu-items a {
        font-size: 12vw;
    }
    .footer-p {
        font-size: 3.5vw;
    }
}