@font-face {
    font-family: 'AestheticRegular';
    src: url('../font/AestheticRegular.otf');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body.index {
    overflow: hidden;
}

* {
    font-family: 'AestheticRegular';
    cursor: none !important;
}

#custom-cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10000;
    transition: width 0.3s, height 0.3s;
    background-color: rgba(80, 124, 139, 0.6);
}

#custom-cursor.hover {
    width: 40px;
    height: 40px;
}

#custom-cursor.explode {
    animation: explode 1s forwards;
}

@keyframes explode {
    50%{
        transform: translate(-50%, -50%) scale(2);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }
}

/*Splash Screen*/
.intro {
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(93, 86, 86);
    transition: 1s;
}

.intro-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.text {
    position: relative;
    display: inline-block;
    bottom: -20%;
    opacity: 0;
    font-size: 7vw;
}

.text.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.text.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.loader {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 12em;
    height: 12em;
}

.loader.active {
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.loader.fade {
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.loader {
    width: 12em;
    height: 12em;
}

.loader path {
    stroke: #000;
    stroke-width: 0.6px;
    animation: dashArray 4s ease-in-out infinite, dashOffset 4s linear infinite;
}
/* Animación de línea punteada para el elemento de carga*/
@keyframes dashArray {
    0% {
        stroke-dasharray: 0 1 359 0;
    }

    50% {
        stroke-dasharray: 0 359 1 0;
    }

    100% {
        stroke-dasharray: 359 1 0 0;
    }
}

@keyframes dashOffset {
    0% {
        stroke-dashoffset: 365;
    }

    100% {
        stroke-dashoffset: 5;
    }
}

/*-----*/

.swiper-container {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.swiper-container.show {
    opacity: 1;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet-active {
    background: black;
}

.slide-content {
    position: absolute;
    color: white;
    left: 10%;
    text-align: left;
    }

.slide-content a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.slide-title {
    font-size: 7vw;
    margin-bottom: 0;
}

.slide-description {
    font-size: 5vw;
    margin-top: 0;
}

.logo {
    position: fixed;
    top: 2%;
    left: 2%;
    z-index: 1000;
}

.logo img {
    width: 8vw;
    height: auto;
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(172, 145, 95);
    z-index: 1000;
    /*display: none;*/
    transition: clip-path 0.3s ease-in-out;
}

.inactive {
    clip-path: circle(0% at 100% 0);
}

.active {
    clip-path: circle(75%);
}

#menu a.logo {
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 1001;
}

.menu-toggle {
    position: fixed;
    top: 6%;
    right: -1%;
    cursor: pointer;
    font-size: 2vw;
    z-index: 1000;
}

.close-menu {
    position: absolute;
    top: 6%;
    right:-1%;
    cursor: pointer;
    font-size: 2vw;
    display: none;
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
}

.menu-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
}

.menu-items li {
    margin-bottom: 20px;
}

.menu-items a {
    font-size: 5vw;
    color: white;
    text-decoration: none;
    display: block;
    transition: transform 0.3s ease;
}

.menu-items a:hover {
    transform: scale(0.9);
}

.button-wrapper {
    position: absolute;
    top: 20%;
    right: 4%;
    z-index: 999;
}

.button-wrapper2 {
    position: absolute;
    top: 28%;
    right: 4%;
    z-index: 999;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20, 0.7);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}

.button.logged-in {
    background-color: rgb(70, 168, 70, 0.7);
}

.svgIcon {
    width: 12px;
    transition-duration: .3s;
}

.svgIcon path {
    fill: white;
}

.button.logged-in::before {
    content: "Ver Perfil";
}

.button.logged-in:hover {
    background-color: rgb(70, 168, 70);
}

.button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(141, 137, 137);
    align-items: center;
}

.button1.logged-in:hover {
    background-color: rgb(70, 168, 70);
}

.button:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
}

.button1::before {
    position: absolute;
    top: -20px;
    content: "Iniciar Sesión";
    color: black;
    transition-duration: .3s;
    font-size: 2px;
}

.button2::before {
    position: absolute;
    top: -20px;
    content: "Ver Carrito";
    color: black;
    transition-duration: .3s;
    font-size: 2px;
}

.button:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}

/*.no-scroll {
    overflow: hidden;
}*/

/*pushing a hamburger menu into a pillow texture like background*/

.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13%;
    color: rgb(5, 5, 5, 0.5);
    width: 2.5em;
    height: 2.5em;
    border-radius: 0.5em;
    background: #171717;
    border: 1px solid #171717;
    transition: all .3s;
    box-shadow: inset 4px 4px 12px #3a3a3a,
            inset -4px -4px 12px #000000;
    z-index: 1001;
    }
    
    .menuButton:hover {
    border: 1px solid black;
    }
    
    .menuButton:active {
    color: #666;
    box-shadow: 6px 6px 12px #3a3a3a,
            -6px -6px 12px #000000;
    }
    
    input[type = "checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
    }
    
    .menuButton span {
    width: 20px;
    height: 3px;
    background: rgb(200,200,200);
    border-radius: 100px;
    transition: 0.3s ease;
    }
    
    input[type]:checked ~ span.top {
    transform: translateY(290%)rotate(45deg);
    width: 40px;
    }
    
    input[type]:checked ~ span.bot {
    transform: translateY(-270%) rotate(-45deg);
    width: 40px;
    box-shadow: 0 0 10px #495057;
    }
    
    input[type]:checked ~ span.mid {
    transform: translateX(-20px);
    opacity: 0;
    }

@media (max-width: 600px) {
    .intro-header {
        top: 30%;
    }
    .intro-header span{
        font-size: 11vw;
    }
    .loader {
        top: 60%;
        width: 11em;
        height: 11em;
    }
    .slide-title {
        font-size: 14vw;
    }
    .slide-description {
        font-size: 9vw;
    }
    .menuButton {
        display: flex !important;
    }
    .menu-toggle {
        display: none;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        position: fixed;
        width: 100%;
        height: 6vh;
        background-color: rgb(183, 178, 178, 0.0);
        z-index: 1000;
        overflow: hidden;
    }
    .navbar .logo {
        position: absolute;
        left: 47%;
        transform: translateX(-50%);
    }
    .navbar .logo img {
        position: relative;
        left: auto;
        right: auto;
        width: 16vw;
    }
    .inactive {
        clip-path: circle(0% at 0% 0);
    }
    #menu a.logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    #menu a.logo img {
        position: relative;
        left: auto;
        right: auto;
        width: 25vw;
    }
    .navbar .menu-toggle, .navbar .close-menu {
        font-size: 5vw;
        position: absolute;
        left: 2%;
    }
    .navbar .button-container {
        display: flex;
        flex-direction: row;
        /*position: absolute;*/
        justify-content: space-between;
        margin-left: 10%;
    }
    .button-wrapper {
        position: absolute;
        top: 20%;
        right: 20%;
        z-index: 999;
    }
    .navbar .button-container .button-wrapper .button.button1.logged-in {
        background-color: rgba(70, 168, 70, 0.7);
    }
    .button-wrapper2 {
        position: absolute;
        top: 20%;
        right: 8%;
        z-index: 999;
    }
    .navbar .button-wrapper, .navbar .button-wrapper2 {
        display: inline-flex;
        flex-direction: row;
        margin-left: auto;
    }
    .navbar .button-wrapper .button, .navbar .button-wrapper2 .button {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgba(20, 20, 20, 0.7);
        border: none;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.164);
        cursor: pointer;
        transition-duration: .3s;
        overflow: hidden;
        position: relative;
        margin-left: 1em;
    }
    .menu-items{
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%;
    }
    .menu-items a {
        font-size: 12vw;
    }
    .menu-toggle {
        transform: none;
    }
    .menu-items {
        flex-direction: row;
    }
    .button:hover {
        width: 40px;
        border-radius: 50px;
        background-color: rgb(141, 137, 137);
        align-items: center;
    }
    .button1.logged-in:hover {
        background-color: rgb(70, 168, 70);
    }
    .button:hover .svgIcon {
        width: 12px;
        transform: translateY(0%);
    }
    .button:hover::before {
        font-size: 2px;
        opacity: 1;
        transform: translateY(0px);
    }
}