* {
    cursor: none !important;
}

body {
    background-color: rgb(164, 161, 161);
}

#custom-cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 100000;
    transition: width 0.3s, height 0.3s;
    background-color: rgba(80, 124, 139, 0.6);
}

#custom-cursor.hover {
    width: 40px;
    height: 40px;
}

#custom-cursor.explode {
    animation: explode 1s forwards;
}

@keyframes explode {
    50%{
        transform: translate(-50%, -50%) scale(2);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }
}

img {
    position: absolute;
    top: 0%;
    right: 47%;
    width: 7vw;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    margin-bottom: -5%;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: 2.5vw;
}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    min-height: 400px;
    width: 350px;
    flex-direction: column;
    gap: 35px;
    background: #e3e3e3;
    box-shadow: 16px 16px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
    border-radius: 8px;
    padding: 40px;
}

form {
    margin-left: -20%;
    margin-top: -5%;
}

.inputBox {
    position: relative;
    width: 250px;
    margin-bottom: 30px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
    margin: 4%;
}

.inputBox input:valid,
.inputBox input:focus {
    border: 2px solid #000;
    border-radius: 8px;
}

.enter {
    margin-top: 5%;
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 1em;
}

.enter:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

@media (max-width: 600px) {
    /* Estilos para img */
    img {
        margin-right: -12%;
        width: 30vw;
    }

    /* Estilos para .login */
    .login {
        margin-bottom: -20%;
        font-size: 8vw;
    }

    /* Estilos para .card */
    .card {
        margin-top: 2%;
        min-height: 200px;
        width: 80%;
        padding: 20px;
    }

    /* Estilos para form */
    form {
        margin-left: 0;
        margin-top: 0;
    }

    /* Estilos para .inputBox */
    .inputBox {
        margin-top: 10%;
        width: 80%;
        margin-bottom: 15%;
    }

    /* Estilos para .inputBox input */
    .inputBox input {
        padding: 5px;
        font-size: 5vw;
    }

    /* Estilos para .enter */
    .enter {
        height: 50px;
        width: 90px;
        font-size: 4vw;
        margin-top: 2.5%;
        margin-bottom: 0.5em;
    }
}

