* {
    cursor: none !important;
}

@font-face {
    font-family: 'AestheticRegular';
    src: url('../font/AestheticRegular.otf');
}
header {
    background-color: transparent !important;
    margin-top: 0%;
}

body {
    background-color: rgb(164, 161, 161);
}

#custom-cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 100000;
    transition: width 0.3s, height 0.3s;
    background-color: rgba(80, 124, 139, 0.6);
}

#custom-cursor.hover {
    width: 40px;
    height: 40px;
}

#custom-cursor.explode {
    animation: explode 1s forwards;
}

@keyframes explode {
    50%{
        transform: translate(-50%, -50%) scale(2);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }
}

.logo {
    position: fixed;
    top: 2%;
    left: 2%;
    z-index: 1000;
}

.logo img {
    width: 8vw;
    height: auto;
}

#menu {
    font-family: 'AestheticRegular';
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(172, 145, 95);
    z-index: 1000;
    /*display: none;*/
    transition: clip-path 0.3s ease-in-out;
}

.inactive {
    clip-path: circle(0% at 100% 0);
}

.active {
    clip-path: circle(75%);
}

#menu a.logo {
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 1001;
}

.menu-toggle {
    font-family: 'AestheticRegular';
    position: fixed;
    top: 6%;
    right: -1%;
    cursor: pointer;
    font-size: 2vw;
    z-index: 1000;
}

.close-menu {
    font-family: 'AestheticRegular';
    position: absolute;
    top: 6%;
    right:-1%;
    cursor: pointer;
    font-size: 2vw;
    display: none;
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
}

.menu-items {
    font-family: 'AestheticRegular';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
}

.menu-items li {
    margin-bottom: 20px;
}

.menu-items a {
    font-size: 5vw;
    color: white;
    text-decoration: none;
    display: block;
    transition: transform 0.3s ease;
}

.menu-items a:hover {
    transform: scale(0.9);
}

.button-wrapper {
    position: absolute;
    top: 20%;
    right: 4%;
    z-index: 999;
}

.button-wrapper2 {
    position: absolute;
    top: 28%;
    right: 4%;
    z-index: 999;
}


.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20, 0.7);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}

.button.logged-in {
    background-color: rgb(70, 168, 70, 0.7);
}

.svgIcon {
    width: 12px;
    transition-duration: .3s;
}

.svgIcon path {
    fill: white;
}


.button.logged-in::before {
    content: "Ver Perfil";
}

.button.logged-in:hover {
    background-color: rgb(70, 168, 70);
}

.button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(141, 137, 137);
    align-items: center;
}

.button1.logged-in:hover {
    background-color: rgb(70, 168, 70);
}

.button:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
}

.button1::before {
    position: absolute;
    top: -20px;
    content: "Iniciar Sesión";
    color: black;
    transition-duration: .3s;
    font-size: 2px;
}

.button2::before {
    position: absolute;
    top: -20px;
    content: "Ver Carrito";
    color: black;
    transition-duration: .3s;
    font-size: 2px;
}

.button:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}


/*.no-scroll {
    overflow: hidden;
}*/

.footer p {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer .footer-link {
    color: black;
    text-decoration: none;
    margin: 0 15px;
}

.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13%;
    color: rgb(5, 5, 5, 0.5);
    width: 2.5em;
    height: 2.5em;
    border-radius: 0.5em;
    background: #171717;
    border: 1px solid #171717;
    transition: all .3s;
    box-shadow: inset 4px 4px 12px #3a3a3a,
            inset -4px -4px 12px #000000;
    z-index: 1001;
}

.menuButton:hover {
    border: 1px solid black;
}

.menuButton:active {
    color: #666;
    box-shadow: 6px 6px 12px #3a3a3a,
            -6px -6px 12px #000000;
}

input[type = "checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
}

.menuButton span {
    width: 20px;
    height: 3px;
    background: rgb(200,200,200);
    border-radius: 100px;
    transition: 0.3s ease;
}

input[type]:checked ~ span.top {
    transform: translateY(290%)rotate(45deg);
    width: 40px;
}

input[type]:checked ~ span.bot {
    transform: translateY(-270%) rotate(-45deg);
    width: 40px;
    box-shadow: 0 0 10px #495057;
}

input[type]:checked ~ span.mid {
    transform: translateX(-20px);
    opacity: 0;
}

.form {
    margin-top: 1%;
    margin-right: 35%;
    margin-left: 35%;
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    padding: 20px;
    background: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--font-color);
    font-weight: 900;
    font-size: 2vw;
    margin-bottom: 3%;
}

.title span {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 2vw;
}

.input {
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
}

.input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

.input:focus {
    border: 2px solid var(--input-focus);
}

.login-with {
    display: flex;
    gap: 20px;
}

.button-log {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    color: var(--font-color);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    fill: var(--main-color);
}

.button-container {
    display: flex;
    gap: 20px;
}

.button-log:active, .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.button-confirm {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 120px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}

#logoutButton {
    background-color: rgb(243, 69, 69);
}

#passwordButton {
    background-color: rgb(75, 75, 247);
}

a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 600px) {
    .menuButton {
        display: flex !important;
    }
    .menu-toggle {
        display: none;
    }
    .navbar {
        margin-left: -3%;
        margin-top: -22%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        position: fixed;
        width: 100%;
        height: 6vh;
        background-color: rgb(204, 193, 193);
        z-index: 1000;
        overflow: hidden;
    }
    .navbar .logo {
        position: absolute;
        left: 45%;
        transform: translateX(-50%);
    }
    .navbar .logo img {
        position: relative;
        left: auto;
        right: auto;
        width: 16vw;
    }
    .inactive {
        clip-path: circle(0% at 0% 0);
    }
    #menu a.logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    #menu a.logo img {
        position: relative;
        left: auto;
        right: auto;
        width: 25vw;
    }
    .navbar .menu-toggle, .navbar .close-menu {
        font-size: 5vw;
        position: absolute;
        left: 2%;
    }
    .navbar .button-container {
        display: flex;
        flex-direction: row;
        /*position: absolute;*/
        justify-content: space-between;
        margin-left: 10%;
    }
    .button-wrapper {
        position: absolute;
        top: 20%;
        right: 20%;
        z-index: 999;
    }
    .navbar .button-container .button-wrapper .button.button1.logged-in {
        background-color: rgba(70, 168, 70, 0.7);
    }
    .button-wrapper2 {
        position: absolute;
        top: 20%;
        right: 8%;
        z-index: 999;
    }
    .navbar .button-wrapper, .navbar .button-wrapper2 {
        display: inline-flex;
        flex-direction: row;
        margin-left: auto;
    }
    .navbar .button-wrapper .button, .navbar .button-wrapper2 .button {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgba(20, 20, 20, 0.7);
        border: none;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.164);
        cursor: pointer;
        transition-duration: .3s;
        overflow: hidden;
        position: relative;
        margin-left: 1em; /* Ajuste del margen entre los botones */
    }
    .menu-items{
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%;
    }
    .menu-items a {
        font-size: 12vw;
    }
    .footer-p {
        font-size: 3.5vw;
    }
    /* Estilos específicos para móviles */
    .menu-toggle {
        transform: none;
    }
    .menu-items {
        flex-direction: row;
    }
    .button:hover {
        width: 40px;
        border-radius: 50px;
        background-color: rgb(141, 137, 137);
        align-items: center;
    }
    .button1.logged-in:hover {
        background-color: rgb(70, 168, 70);
    }
    .button:hover .svgIcon {
        width: 12px;
        transform: translateY(0%);
    }
    .button:hover::before {
        font-size: 2px;
        opacity: 1;
        transform: translateY(0px);
    }
    /* Estilos para .form */
    .form {
        margin-top: 23%;
        margin-right: 5%;
        margin-left: 5%;
        padding: 10px;
    }

    /* Estilos para .title */
    .title {
        font-size: 9vw;
    }

    .title span {
        font-size: 9vw;
    }

    /* Estilos para .input */
    .input {
        width: 80%;
        height: 30px;
        font-size: 5vw;
    }

    /* Estilos para .button-log */
    .button-log {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    /* Estilos para .icon */
    .icon {
        width: 18px;
        height: 18px;
    }

    /* Estilos para .button-container */
    .button-container {
        margin-left: -3%;
        flex-direction: row;
        gap: 10px;
    }

    /* Estilos para .button-confirm */
    .button-confirm {
        width: 80px;
        height: 35px;
        font-size: 3vw;
    }

    /* Estilos para #logoutButton y #passwordButton */
    #logoutButton, #passwordButton {
        width: 80px;
        height: 35px;
    }
}
