* {
    overflow: auto;
}

body {
    background-color: rgb(247, 243, 239);
}

.works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card {
    width: 400px;
    overflow: hidden;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .card {
        width: 350px;
    }
}

.card a {
    text-decoration: none;
}

.card a h2, .card a p {
    color: black;
}

.card a h2 {
    font-size: 1.8vw;
}

.card a p {
    font-size: 1.5vw;
}

.card .artwork {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
}

.card .artwork img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .9s;
}

.card .artwork img:hover{
    transform: scale(1.1);
}

.artwork-info {
    padding: 1rem;
}

.load-more-button {
    padding: 20px;
    font-size: 2vw;
    margin: 30px auto;
    border: none;
    display: block;
    transition: transform 0.3s ease;
    background-color: rgb(247, 243, 239);
}

.load-more-button:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .load-more-button {
        padding: 10px;
        font-size: 16px;
    }
}

.pagination {
    text-align: center !important;
}

/*.down-arrow {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid black;
    margin: 0 auto;
}*/

#filter-form {
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filter-form select {
    border: none;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    margin-bottom: 7%;
    margin-right: 3%;
    font-size: 3vw;
    background-color: rgb(247, 243, 239);
}

@media (max-width: 600px) {
    body {
        margin-left: -2%;
        margin-right: 3%;
    }
    .works {
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        width: auto;
    }
    .card .artwork {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
    }
    .card .artwork img {
        width: 100%;
        height: 100%;
    }
    .card .artwork-info h2 {
        margin-top: -2%;
        font-size: 4vw;
    }
    .card .artwork-info p {
        font-size: 3vw;
    }
    #filter-form {
        margin-top: 30%;
    }
    #filter-form select {
        font-size: 4vw;
    }
}
