body {
    background-color: rgb(247, 243, 239);
}

header {
    background-color: transparent !important;
}

h1 {
    margin-top: 8%;
    text-align: center;
    font-size: 7vw;
}

h3 {
    margin-top: -5%;
    text-align: center;
}

.part_exhibitions {
    display: flex;
    flex-direction: column;
    margin: 10% 15%;
}

img {
    max-width: 100%;
    height: auto;
}

.row {
    display: flex;
}

.row .col {
    flex: 50%;
    padding: 4%;
    margin-bottom: 15%;
}

.row .col img {
    height: 130%;
    width: 130%;
    object-fit: cover;
}